.container {
  width: 100%;
    height: 100%;
    border: 1px dotted light-grey;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

.title-bar {
  width: 94%;
  height: 4%;
  background-color: beige;
  margin: 1% 3%;
  position: relative;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.title-bar-title {
  text-transform: uppercase;
}

.title-bar-button {
  color: black;
  background-color: tan;
  margin: 0px 0.5em;
  position: relative;
  float: right;
}

.title-bar-button.inactive {
  color: beige;
}

.flash-card {
  width: 94%;
  height: 90%;
  margin: 1% 3%;
  position: absolute;
  background-color: beige;
}

.navigation-button-prev {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}

.navigation-button-next {
  position: relative;
  width: 20%;
  height: 100%;
  float: right;
}

.flash-card-word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
  height: 30%;
  text-align: center;
}

.translation-english {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 96pt;
  display: none;
}

.translation-chinese {
  font-family: serif;
  font-size: 96pt;
  display: none;
}

.translation-pinyin {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 25pt;  
  display: none;
}


