{% extends "layout.html" %}

{% block scripts %}
<script type="text/javascript">
  function displayCard() {
    if (language=='english') {
      $('.translation-english').css('display','block');
      $('.translation-chinese').css('display','none');
      $('.translation-pinyin').css('display','none');
    } else if (language=='chinese') {
      $('.translation-english').css('display','none');
      $('.translation-chinese').css('display','block');
      $('.translation-pinyin').css('display','none');
    } else if (language == 'pinyin') {
      $('.translation-english').css('display','none');
      $('.translation-chinese').css('display','none');
      $('.translation-pinyin').css('display','block');
    }
  };

  function cycleCard(reverse=false) {
    if (reverse) {
  if (displayLanguage =='english') {
        displayLanguage = 'pinyin';
        $('.translation-english').css('display','none');
        $('.translation-chinese').css('display','none');
        $('.translation-pinyin').css('display','block');
      } else if (displayLanguage =='pinyin') {
        displayLanguage = 'chinese';
        $('.translation-english').css('display','none');
        $('.translation-chinese').css('display','block');
        $('.translation-pinyin').css('display','none');
      } else if (displayLanguage == 'chinese') {
        displayLanguage = 'english';
        $('.translation-english').css('display','block');
        $('.translation-chinese').css('display','none');
        $('.translation-pinyin').css('display','none');
      }      
    } else {
      if (displayLanguage =='english') {
        displayLanguage = 'chinese';
        $('.translation-english').css('display','none');
        $('.translation-chinese').css('display','block');
        $('.translation-pinyin').css('display','none');
      } else if (displayLanguage =='chinese') {
        displayLanguage = 'pinyin';
        $('.translation-english').css('display','none');
        $('.translation-chinese').css('display','none');
        $('.translation-pinyin').css('display','block');
      } else if (displayLanguage == 'pinyin') {
        displayLanguage = 'english';
        $('.translation-english').css('display','block');
        $('.translation-chinese').css('display','none');
        $('.translation-pinyin').css('display','none');
      }      
    }
  };

  function setLanguage(newLanguage) {
    language = newLanguage;
    if (language=='english') {
      $('#language-button').text(language);
    } else if (language=='chinese') {
      $('#language-button').text(language);
    } else if (language == 'pinyin') {
      $('#language-button').text(language);
    }
  };

  var language = "{{ session['language'] }}";
  var displayLanguage = 'english';
  if (language == 'chinese') {
    displayLanguage = 'chinese';
  } else if (language == 'pinyin') {
    displayLanguage = 'pinyin';
  }

  $(document).ready(function() {

    setLanguage(language);
    displayCard();

    if (language=='english') {
      $('.translation-english').css('display','block');
    } else if (language=='chinese') {
      $('.translation-chinese').css('display','block');
    } else if (language=='pinyin') {
      $('.translation-pinyin').css('display','block');
    }

    $('.flash-card-word').click(function() {cycleCard();});
  });

  $(document).keyup(function(e) {
    switch (e.which) {
      case 37:
        window.location.href = "{{ url_for('prevCard') }}";
        break;
      case 39:
        window.location.href = "{{ url_for('nextCard') }}";
        break;
      case 38:
        cycleCard();
        break;
      case 40:
        cycleCard(reverse=true);
        break;
      default:
        return;
    }
  });
</script>

{% endblock %}

{% block title %}
    <!-- language toggle -->
    {% if session['language'] == 'chinese' %}
      <a href="{{ url_for('togglePinyin') }}">
    {% elif session['language'] == 'pinyin' %}
      <a href="{{ url_for('toggleEnglish') }}">
    {% elif session['language'] == 'english' %}
      <a href="{{ url_for('toggleChinese') }}">
    {% endif %}
    <span class="title-bar-button" id="language-button"></span>
    </a>
    <!-- edit button -->
    <a href="{{ url_for('editCard', wid=word.wid) }}">
      <span class="title-bar-button" id="edit-button">edit</span>
    </a>
{% endblock %}

{% block content %}
  <div class="flash-card">
    <a href="{{ url_for('prevCard') }}"> 
      <span class="navigation-button-prev">
      </span>
    </a>
    <a href="{{ url_for('nextCard') }}">
      <span class="navigation-button-next">
      </span>
    </a>
    <div class="flash-card-word">
      <span class="translation-english">
        {{ word.english.upper() }}
      </span>
      <span class="translation-chinese">
        {{ word.chinese.replace(' ','') }}
      </span>
      <span class="translation-pinyin">
        ({{ word.pinyin }})
      </span>
    </div>
  </div>
{% endblock %}