{% extends "layout.html" %}

{% block scripts %}
<script type="text/javascript">
  function displayCard() {
    $.get("/api/words/" + widlist[listpos], 
      function(words) {
        word = words[0];
        switch (displayLanguage) {
          case 'chinese':
            $('#display-word').html(word.chinese);
            break;          
          case 'pinyin':
            $('#display-word').html('(' + word.pinyin + ')');
            break;          
          case 'english':
            $('#display-word').html(word.english);
            break;          
          default:
            $('#display-word').html('wtf');
        }
      });
    $('#progress').html((listpos+1) + '/' + widlist.length);
    $('#wid').html('(wid:' + widlist[listpos] + ')');
  };

  function flipCard(reverse) {
    if (reverse) {
        switch (displayLanguage) {
          case 'chinese':
            displayLanguage = 'english';
            break;          
          case 'pinyin':
            displayLanguage = 'chinese';
            break;          
          case 'english':
            displayLanguage = 'pinyin';
            break;          
        }
    } else {
        switch (displayLanguage) {
          case 'chinese':
            displayLanguage = 'pinyin';
            break;          
          case 'pinyin':
            displayLanguage = 'english';
            break;          
          case 'english':
            displayLanguage = 'chinese';
            break;          
        }
    }
    displayCard();
  };

  function changeCard(next) {
    if (next) {
      listpos = (listpos + 1) % widlist.length;
    } else {
      listpos = (listpos + widlist.length - 1) % widlist.length;
    }
    displayLanguage = defaultLanguage;
    displayCard();
  }

  function changeLanguage(newLanguage) {
    if (newLanguage == '') {
      switch (defaultLanguage) {
        case 'chinese':
          defaultLanguage = 'pinyin';
          break;
        case 'pinyin':
          defaultLanguage = 'english';
          break;
        case 'english':
          defaultLanguage = 'chinese';
          break;
      }
    } else {
      defaultLanguage = newLanguage;
    }
    $('#language-button').html(defaultLanguage);
    displayLanguage = defaultLanguage;
    displayCard();
  }

  function shuffleDeck() {
    var j, tmp, i;
    for (i = widlist.length; i > 0; i--) {
        j = Math.floor(Math.random() * i);
        tmp = widlist[i - 1];
        widlist[i - 1] = widlist[j];
        widlist[j] = tmp;
    }
    displayCard();
  }

  var widlist = {{ widlist }};
  var listpos = 0;
  var displayLanguage = 'chinese';
  var defaultLanguage = 'chinese';
  
  $(document).ready(function() {
    displayCard();
    changeLanguage(newLanguage = defaultLanguage);

    $('.flash-card-word').click(function() { flipCard(); });
    $('#prev-word').click(function() { changeCard(next=false); });
    $('#next-word').click(function() { changeCard(next=true); });
    $('#language-button').click(function() { changeLanguage(''); });
    $('#shuffle-button').click(function() { shuffleDeck(); })
  });

  $(document).keyup(function(e) {
    switch (e.which) {
      case 37: // left
        changeCard(next=false);
        break;
      case 39: // right
        changeCard(next=true);
        break;
      case 38: // up
        flipCard(reverse=true);
        break;
      case 40: // down
        flipCard(reverse=false);
        break;
      default:
        return;
    }
  });
</script>
{% endblock %}

{% block title %}
    <span id="language-button" class="title-bar-button"></span>
    <span id="shuffle-button" class="title-bar-button"><s></s>shuffle</span>
{% endblock %}

{% block content %}
  <div id="flash-card" class="flash-card">
    <span id="prev-word" class="navigation-button-prev"></span>
    <span id="next-word" class="navigation-button-next"></span>
    <div class="flash-card-word">
      <span id="display-word" class="translation"></span>
    </div>
    <div class="stats">
      <span id="progress"></span>
      <span id="wid"></span>
    </div>
  </div>
{% endblock %}