{% extends "layout.html" %}

{% block content %}
<div class="vocabulary-list">
<table class="vocabulary-table">
{% for word in vocabulary %}
  <tr>
  <td><a href="{{ url_for('viewSpecificCard', language='english',translation=word.english) }}">{{ word.english }}</a></td>
  <td><a href="{{ url_for('viewSpecificCard', language='chinese',translation=word.chinese) }}">{{ word.chinese }}</a></td>
  <td><a href="{{ url_for('viewSpecificCard', language='chinese',translation=word.chinese) }}">{{ word.pinyin }}</a></td>
  </tr>
{% endfor %}
  <tr>
    <form method="POST" action="/vocabulary">
    {{ form.hidden_tag() }}
    <td>
      <div class="form-group">
        {% if form.english.errors %}
          {% for error in form.english.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.english }}
      </div>
    </td>
    <td>
      <div class="form-group">
        {% if form.chinese.errors %}
          {% for error in form.chinese.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.chinese }}
      </div>
    </td>
    <td>
      {{ form.submit(class="btn-primary") }}
    </td>
    </form>
  </tr>
</table>
</div>
{% endblock %}